.arrow-home {
    display: none;
}

@media (min-width: 720px) {
    main {
        padding:0;
    }

    .legumes{
        background-image: url(../../img/legumess.svg);
    }

    .fondv{
        background-color:  #ffffff00;
        padding: 0;
        min-height: 0;
    }
    
    .fondvio{
        background-color:  #ffffff00;
        min-height: 0;
        padding: 0;
    }
    
    .fondo{
        background-color:  #ffffff00;
        min-height: 0;
        padding: 0;
    }
    




    .block1 {
        padding: 5% 0;
        margin-bottom: 5vh;
        height: fit-content;
    }

    .blockblanc {
        padding: 2vw 1vw;
        min-height: 60vh !important;
        background-color: white;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
 
        width: auto;
        
        padding-top: 2vh;
        box-sizing: border-box;

    }

    .wide{
        width: 80%;
    }

    .visible {
        top: 10% !important;
        right: 12% !important;
        z-index: 2 !important;
    }

    .desktopIgnore {
        display: none !important;
    }

    #maDiv {
        top: -100%;
        right: 12%;
        width: fit-content;
        padding: 1vw;
        border-radius: 0 0 5px 5px;
    }

    .perso {
        z-index: 1;
    }

    #sectionCard {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1%;
    }

    #sectionCard article {
        width: 30%;
    }

    .formulaireCoInsDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 70vh !important;
    }

    .formulaireCoInsDesktop div {
        position: relative;
        
    }

    .heroco {
        box-sizing: border-box;
        width: 50vw;
        height: 100%;
    }


    .heroco img {
        position: absolute;
        height: 70% !important;
        bottom: -20px !important;
        right: 10vw !important;
        margin: 0 !important;
    }

    .containerFormCoIns {
        border-radius: 0 !important;
    }

    .containerFormCoIns form {
        padding: 0 7vw;
    }

    .main-garden {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .main-garden a {
        width: 30%;
    }

    .navblock {
        width: 100%;
    }
 

    .arrow-home {
        display: block;
        margin-top: 50px !important;
    }

    .why-title {
        font-weight: bold;
    }

    .why-card {
        width: 300px;
        height: 250px;
    }

    .why-card p {
        font-weight: bold;
    }

    .how-title {
        font-weight: bold;
    }
    .nav {
        z-index: 1;
        bottom: 0;
        height: 10vh;
        background-color: white;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border: 1px solid white;
        position: static;
        width: 85%;
        margin: 3% auto;
        border-radius: 60px !important;
    
    }
    .how-container {
        display: flex !important;
        flex-direction: column;
        gap: 20px;
        width: 60%;
        /* padding: 0 250px; */
    }



    nav{
        width: inherit;
    }

    #photoProfil {
        width: 40px;
    }

    .heracc {
        font-size: 24px;
    }

    .casepaire {
        width: 300px;
        height: 300px;
    }

    .caseimpaire {
        width: 300px;
        height: 300px;
    }

    .casevide1 {
        height: auto;
        margin-left: 20px;
    }

    .casevide1 img {
        width: 45px;
    }

    .casevide2 {
        height: auto;
        margin-right: 20px;
    }

    .casevide2 img {
        width: 45px;
    }

    #containerData {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer {
        display: flex !important;
        justify-content: space-between;
        padding: 5vw;

    }

    footer img {
        width: 10vw;
    }

    footer div ul {
        list-style: none;
        text-align: end;
    }

    footer div ul li {
        margin: 5px 0;
    }

    footer div ul li a {
        color: black;
    }

    footer div p {
        text-align: center;
    }

}